body
{font-family:Helvetica Neue;}

p
{text-align: justify;}

.header 
{overflow: hidden;
background-color: #6567AC;
padding: 5px;
display: flex;
align-items: center;}

.header a 
{float: left;
text-align: center;
padding: 12px;
text-decoration: none;
font-size: 20px;
line-height: 25px;
border-radius: 4px;}

.box
{text-align: right
padding: 20px;}

img
{float: left;
margin: 10px;
width: 10%;}


h1, h2, h3
{color: #fff; margin: 0;}

h1, h2
{background-color:#6567AC;
text-align: center;
padding: 20px;}

a
{color: #fff;}
